body{
	background-color:black;
	overflow:hidden;
}
#contenedor,#fondo,#fondo .espace,#control,.disparo,.EN1,#rey_enemigo,#ataqueE,#vida{
	position:fixed;
}
#mina_voladora,#rey_enemigo,.EN1,.nave2,#nave,#vida  div{
	background-repeat:no-repeat;
	background-size:100%;
}
#fondo .space{
	/*Nesecitamos que el fondo ocupe toda la pantalla y se pueda mover sin importar los demas elementos.*/
	left:0cm;
	width:100vw;
	height:100vh;
	z-index:4;/*Nesesitamos que el fondo se vea de ultimo.*/
	position:fixed;
	background-image:url( "./img/spacio.bmp" );
	background-repeat:repeat;
}
/*Naves de muestra y el jugador.*/
.nave{
	width:30px;
	height:20px;
	background-image:url( "./img/nave.bmp" );
	display:block;
	z-index:2;
}
/*Nave del jugador.*/
#nave{
	position:fixed;
	top:90%;
	left:0px;
}
/*Nave siendo atacada.*/
#naveAtack{
	position:fixed;
	display:none;
	width:30px;
	height:20px;
	top:90%;
}
/*Naves de muestras.*/
#vida{
	position:fixed;
	left:0;
	top:45%;
	z-index:2;
}
#vida  div{
	margin-top:5px;
	border-top:2px solid red;
	border-bottom:1px solid yellow;
	position:relative;
	
}

/*Disparo nave principal.*/
.disparo{
	position:fixed;
	width:5px;
	height:20px;
	background-color:red;
	display:none;
	z-index:1;
}
/*Disparo enemigo.*/
.EN1 .disparo{
	height:18px;
	background-color:white;
	border:2px solid gray
}
/*EN1: Enemigo 1.*/
.EN1{
	width:30px;
	height:30px;
	background-image:url( "./img/enemigo1.bmp" );
	left:0%;
	top:0%;
	z-index:2;
}
#EN1_impart{
	background-image:url( "./img/enemigo1A.bmp" );
	display:none;
}
#rey_enemigo{
	background-image:url( "./img/rey_enemigo.bmp" );
	width:5%;
	height:5%;
	background-size:10%;
}
#mina_voladora{
	background-image:url( "./img/mina1.bmp" );
	width:25px;
	height:25px;
	z-index:3;
}
